<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container">
    <nav>
    <div class="btn-grad2">
    <a href="">Home</a>
    </div>
    <ul>
      <li class="btn-grad">
        <a href="/users/login">Login</a>
      </li>
      <li class="btn-grad">
        <a href="/users/register">
          SignUp
        </a>
      </li>
    </ul>
    </nav>
  </div>
         
  <h1>
    Welcome To this landing page
    
  </h1>

  </body>
</html>
