<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users.css">
    <title>Users Page</title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
            <div class="btn-grad2">
            <a href="/">Home</a>
            </div>
            <ul>
              <li class="btn-grad">
                <a href="#">Login</a>
              </li>
              <li class="btn-grad">
                <a href="/users/register">
                  SignUp
                </a>
              </li>
            </ul>
            </nav>
          </div>
       </header> 
       <h1>😎✌️Login Successfully✌️😎</h1>
      <div class="logout">
       <a class="anchor" href="/users/logout">
         <button class="btn-grad2">
           LogOut
         </button>
       </a>
      </div>
</body>
</html>